# Supabase - Obtén estos valores en https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=https://hgimvhofnzephbketizv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaW12aG9mbnplcGhia2V0aXp2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzE4NDAwMTIsImV4cCI6MjA4NzQxNjAxMn0.v6w7rYv5bCFeB7-IBqMlLg6lCee840_RSx5ZmDA4Hus

# Para Server Actions y admin (opcional, usar solo en servidor)
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhnaW12aG9mbnplcGhia2V0aXp2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MTg0MDAxMiwiZXhwIjoyMDg3NDE2MDEyfQ.UBAR4KtPExt1xLkdPD6rr8R1_ye95uyo7kViN_6LECY

